#seating-chart
  .container
    .row
      .col-md-12
        %h1 Seating Chart
        %button#choose-seat(type="submit" class="btn btn-default") Reserve Seat

  .container
    .row
      .col-md-12
        %table.table.table-bordered(style="width: 100%; border: 1px solid;")
          - @room.each do |row|
            %tr(style="border: 1px solid;" colspan="#{row.length}")
              - row.each do |tile|
                - if tile.seatable?
                  - tile.seats.each do |seat| 
                    %td.seat-cell(style="border: 1px solid;" data-seat-id="#{seat.id}")
                      -# %span
                        = seat.id
                - else
                  %td.empty-space(style="border: 1px solid;" colspan="#{tile.length}")
                    %span
                      = "#{tile.length} Feet"
