.container
  .row
    .col-md-8
      %form
        .form-group
          %label(for="seat-selection") Seat Selection 
          %select.form-control#seat-selection
            - @chart.seats.each do |seat|
              %option="Row #{seat.seating_row.id} - Seat #{seat.id}"

        %button(type="submit" class="btn btn-default") Submit

.container-fluid
  %h1 Seating Chart

  .row
    .col-md-12
      %table.table.table-bordered(style="width: 100%; border: 1px solid;")
        - @room.each do |row|
          %tr(style="border: 1px solid;" colspan="#{row.length}")
            %td=rand(1...4)
            - row.each do |tile|
              %td(style="border: 1px solid;" colspan="#{tile.length}")
                = tile.inspect 


.container
  %h1 Seating Chart

  .row
    - @chart.seating_sections.each do |section|
      - [section.left_row, section.right_row].each do |row|
        .col-md-2
          %strong= "Row #{row.id} Section #{row.seating_section.id}"
          - row.seats.each do |seat|
            - taken = rand(1..4) == 4 ? 'red' : 'green'
            .row
              .col-xs-1(style="border: 2px solid; padding: 25px; background-color: #{taken}")
                = seat.id

    .col-md-2
