%a(name="sponsors")
.sponsors
  .info
    %h1 Sponsors

    %h2 Starman Tier 
    .container
      .row
        .col-lg-12
          = image_tag "pittco-logo.png", style: "width: 500px"

      .row
        .col-lg-12
          = image_tag "pittco-logo.png", style: "width: 500px"

    %h2 Fireflower Tier
    .container
      .row
        .col-md-6
          = image_tag "pittco-logo.png", style: "width: 325px"
        .col-md-6
          = image_tag "pittco-logo.png", style: "width: 325px"

    %h3 Mushroom Tier
    .container
      .row
        .col-sm-4
          = image_tag "pittco-logo.png", style: "width: 150px"
        .col-sm-4
          = image_tag "pittco-logo.png", style: "width: 150px"
        .col-sm-4
          = image_tag "pittco-logo.png", style: "width: 150px"
