%ul.social-links.list-inline
  %li
    = link_to "https://www.facebook.com/pittco" do
      %i.fa.fa-facebook.fa-fw
      %span.network-name Facebook

  %li
    = link_to "https://twitter.com/PittcoLAN" do
      %i.fa.fa-twitter.fa-fw
      %span.network-name Twitter

  %li
    = link_to "https://www.twitch.tv/pittcolan" do
      %i.fa.fa-twitch.fa-fw
      %span.network-name Twitch

  %li
    = link_to "http://steamcommunity.com/groups/pittco" do
      %i.fa.fa-steam.fa-fw
      %span.network-name Steam

  %li
    = link_to "https://github.com/pittco" do
      %i.fa.fa-github.fa-fw
      %span.network-name Github
