!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Pittco Web Admin

    = stylesheet_link_tag 'admin', media: 'all'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.logo(href="#")
            = image_tag "pittco-logo.png"
            %span Web Admin


        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Communications", "#"
            %li= link_to "Tickets", "#"
            %li= link_to "Seating Chart", "#"
            %li= link_to "Schedule", "#"
            %li= link_to "Intranet", "#"

            %li.dropdown
              %a.dropbown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                Super Admin 
                %span.caret

              %ul.dropdown-menu
                %li.dropdown-header Staff Management 
                %li=link_to "Users", "#"


    .container
      - if flash[:alert]
        %p.error-message
          = flash[:alert].join(", ")

      = yield
    
    = javascript_include_tag 'admin'
    = yield :footer
