%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Pittco

    %link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css")

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "nav"
    = render "next_event"
    = render "venue"


    %a(name="sponsors")
    .sponsors
      .info
        %h1 Sponsors

        %h2 Gold Tier
        = render "sponsors"

        %h2 Silver Tier
        .container
          .row
            .col-md-6
              = image_tag "pittco-logo.png", style: "width: 375px"
            .col-md-6
              = image_tag "pittco-logo.png", style: "width: 375px"

        %h3 Bronze Tier
        .container
          .row
            .col-sm-4
              = image_tag "pittco-logo.png", style: "width: 200px"
            .col-sm-4
              = image_tag "pittco-logo.png", style: "width: 200px"
            .col-sm-4
              = image_tag "pittco-logo.png", style: "width: 200px"

    = render "about"

    %hr

    %footer.text-center
      %i Some legal nonsense
